@import '@/assets/scss/_variables';
@import '@/assets/scss/sections/_header';
@import '@/assets/scss/sections/_hero';
@import '@/assets/scss/sections/_features';
@import '@/assets/scss/sections/_pricing';
@import '@/assets/scss/sections/_howitworks';
@import '@/assets/scss/sections/_statistics';
@import '@/assets/scss/sections/_industries';
@import '@/assets/scss/sections/_footer';


body{
    margin: 0;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 12px;
}
