.features {
  // background-image: url('/public/images/fbg.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 100px 0;
  text-align: center;

  .features-title {
    font-size: 60px;
    line-height: 65px;
    color: #121421;
    font-weight: 700;
    margin-bottom: 94px;
  }

  .features-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;

    .feature-item {
      display: flex;
      flex-direction: column;
      gap: 24px;
      background-color: #f6f7fc;
      border-radius: 25px;
      padding: 55px 35px;
      max-width: 25%;
      position: relative;

      &:hover {
        background-color: #FAF8F7;
      }

      .line {
        bottom: 0;
        left: 0;
        position: absolute;
        z-index: 1;
      }

      h3 {
        font-size: 27px;
        color: #121421;
        font-weight: 700;
      }

      p {
        font-size: 18px;
        color: #121421;
        font-weight: 400;
      }
    }
  }
}


@media (max-width: 768px){
  .features {
    .features-title{
      font-size: 40px;
      line-height: 55px;
    }

    .features-content .feature-item{
      max-width: 100%;
    }
  }
  
  
}