@import '@/assets/scss/_variables';


.hero {
    background-color: #FAF8F7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    .hero-content {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      margin: 100px auto;
      max-width: 1600px;
      padding: 0 16px;


      .hero_left{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        padding-top: 75px;
        // flex: 0.5;
        width: 20%;

        .left_top{
          width: 40%;
          height: auto;
          text-align: left;
  
          p{
            font-size: 22px;
            font-weight: 400;
            color: #121212;
            transition: color 0.3s;
          }
        }

        img{
          height: auto;
          max-width: 78px;
          padding-top: 50px;
          padding-bottom: 80px;
        }

        .left_bottom{
          position: relative;
          background-color: #FFF;
          padding: 40px;
          border-radius: 30px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 10px;
          margin-top: 60px;
          max-width: 150px;
          text-align: left;


          h3{
            font-size: 50px;
            font-weight: 700;
            color: #121212;
          }
          p{
            color: #555;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
          }

          .left_btm{
            height: auto;
            max-width: 100%;
            padding: 0;
          }
       
        }
      }

      .content{
        // flex: 1;
        width: 40%;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;


        h1 {
          font-size: 5.5rem;
          color: #000;
          font-weight: 700;
          line-height: .92em;
        }
        p {
          font-size: 1.5rem;
          font-weight: 400;
          margin-top: 10px;
          color: #555;
        }
        a {
          text-decoration: none;
          padding: 30px 55px;
          background-color: #FEDA1F;
          border-radius: 15px;
          border: none;
          color: #000;
          cursor: pointer;
          width: fit-content;
          font-size: 25px;
          font-weight: 500;
          text-transform: capitalize;
          line-height: 1.3em;
          color: #000;

          &:hover{
            background-color: #000;
            color: #FEDA1F;
          }
        }
      }

      .hero-img {
        position: relative;
        // flex: 1;
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-radius: 16px; 
        animation: move 1.5s infinite alternate;
    
        .right_img {
            height: auto;
            width: 100%; 
            clip-path: polygon(25% 0, 100% 0%, 75% 100%, 0% 100%); 
    
            img {
                width: 100%; 
                height: auto;
                object-fit: cover; 
                transition: transform 0.3s ease; 
            }
        }

        .shape-style1 {
          animation: animation-one 5s linear infinite;
          left: 0;
          position: absolute;
          top: 0;
          z-index: -1;

          img {
            max-width: 100%;
          }
        }

        .shape-style2 {
          animation: animation-two 5s linear infinite;
          right: 0;
          position: absolute;
          bottom: 25%;
          z-index: 1;

          img {
            max-width: 100%;
          }
        }
      }
    
      }
  }

  @media (max-width: 1450px){
    .hero {
      
      .hero-content {

        .hero_left{
          padding-top: 60px;
  
          .left_top{
            width: 35%;
    
            p{
              font-size: 20px;
            }
          }
  
          img{
            max-width: 60px;
            padding-top: 30px;
            padding-bottom: 60px;
          }
  
          .left_bottom{
            padding: 30px;
            gap: 8px;
            margin-top: 40px;
            max-width: 120px;
            h3{
              font-size: 35px;
            }
            p{
              font-size: 15px;
            }
            
         
          }
        }
  
        .content{
          h1 {
            font-size: 4rem;
            line-height: .92em;
          }
          p {
            font-size: 1.25rem;
          }
          a{
            padding: 20px 40px;
          }
        }

        }
    }
  }

  @media (max-width: 1024px){
    .hero {
      
      .hero-content {
        justify-content: start;
        align-items: center;
        gap: 2rem;
        margin: 80px auto;

        .hero-img {
          display: none;

        }

        }
    }
  }


  @media (max-width: 768px){
    .hero {
      
      .hero-content {
        flex-direction: column;
        align-items: start;
        gap: 2.75rem;

        .hero_left{
          width: 100%;
          padding-top: 0;
          order: 3;
  
          .left_top{
            width: 35%;
    
            p{
              font-size: 35px;
            }
          }
  
          img{
            max-width: 160px;
            padding-top: 30px;
            padding-bottom: 60px;
          }
  
          .left_bottom{
            padding: 30px;
            gap: 8px;
            margin-top: 0;
            width: 100%;
            max-width: 50%;
            h3{
              font-size: 55px;
            }
            p{
              font-size: 35px;
              line-height: 44px;
            }
            
         
          }
        }
  
        .content{
          width: 100%;
          h1 {
            font-size: 4rem;
            line-height: .92em;
          }
          p {
            font-size: 1.25rem;
          }
          a{
            padding: 20px;
          }
        }

        .hero-img {
          display: block;
          width: 100%;

        }

        }
    }
  }

  @media (max-width: 480px){
    .hero .hero-content .content h1{
      font-size: 2.5rem;
      line-height: 1.1em;
    }
  }


  @keyframes move {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px); 
    }
  }

  @keyframes animation-one {
    0% {
      transform: translateY(0) translate(0);
    }
    50% {
      transform: translateY(0) translate(-20px);
    }
    100% {
      transform: translateY(0) translate(0);
    }
  }

  @keyframes animation-two {
    0% {
      transform: translateY(0) translate(0);
    }
    50% {
        transform: translateY(-15px) translate(0);
    }
    100% {
        transform: translateY(0) translate(0);
    }
  }