.pricing-plans {
  background-color: #FFF;
    text-align: center;
    padding: 7rem 0;

  
    h2 {
      font-size: 2.5rem;
      margin-bottom: 1.5rem;
    }
  
    .plans-container {
      display: flex;
      justify-content: center;
      gap: 2rem;
      flex-wrap: wrap; 
  
      .plan {

        &.basic{
          background-color: #fff;
        }
        &.regular{
          background-color: #f9f9f9;
        }
        &.gold{
          background-color: #DDDDDD;
          color: #fff;
          // h3,
          // .price_yearly,
          // .price_monthly,
          // .pf_points{
          //   color: #fff !important;
          // }
        }
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 30px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 40px;
        min-width: 211px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s ease;
        text-align: left;
        overflow: hidden;

        .circle1{
          position: absolute;
          width: 150px;
          height: 150px;
          top: -40px;
          right: -40px;
          border: 2px solid #0000001A;
          border-radius: 50%;
          z-index: 1;
        }
        .circle2{
          position: absolute;
          width: 120px;
          height: 120px;
          top: -30px;
          right: -30px;
          border: 2px solid #0000001A;
          border-radius: 50%;
          z-index: 1;
        }

        .price_head{
          display: flex;
          flex-direction: column;
          gap: 10px;

          img {
            width: 80px;
          }

          h3 {
            color: #1D1D1D;
            font-size: 32px;
            font-weight: 400;
            line-height: 1.2em;
            letter-spacing: -0.02rem;
          }
  
          .price_yearly,
          .price_monthly {
            font-size: 28px;
            font-weight: 400;
            line-height: 1em;
            letter-spacing: -0.02rem;
            color: #1D1D1D;

            span {
              color: #666666;
              font-size: 16px;
              font-weight: 400;
              line-height: 28px;
            }
          }
        }
  
       

        .price_features{
          display: flex;
          flex-direction: column;

          .p_feature{
            display: flex;
            align-items: center;
            justify-content: left;

            .pf_img{
              width: 12px;
              height: 12px;
              margin-right: 10px;
            }
            .pf_points{
              font-size: 18px;
              font-weight: 400;
              color: #1D1D1D;
            }

          }
        }
  
  
        .price_btn{
          text-decoration: none;
          font-size: 16px;
          color: #fff;
          padding: 0.75rem 1.5rem;
          background-color: #27ae60;
          border-radius: 4px;
          cursor: pointer;
          transition: background-color 0.3s ease;
          width: fit-content;

        }

      }
    }
}


// Keyframe for the wave animation
@keyframes move-wave {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); // Move the wave left
  }
}