@import '@/assets/scss/_variables';

.features-section{
  // background-image: url('/images/tour_booking/feature-bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  color: var(--color-black);
  padding: 12rem 0;

  @include desktop-small {
    padding: 7rem 1rem;
  }

  .features-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    @include desktop-small {
      flex-direction: column;
      // padding: 10rem 0;
    }

    .feature-left{
      flex-basis: 40%;
      position: relative;

      @include desktop-small {
        flex-basis: 100%;
      }

      .feature-left-bottom-icon {
        position: absolute;
        bottom: 0%;
        left: 44%;

        @include desktop-small {
          display: none;
        }
        
      }

      .subtitle {
        background: rgba(0, 0, 0, 0.1);
        padding: 8px 10px;

        @include typography('display-xs', bold); 
        display: inline;
        border-radius: 8px;

        @include desktop-small {
          align-self: center;
          justify-self: center;
        }
      }

      .title {
        position: relative;
        @include typography(display-lg, bold);
        margin-top: 18px;
        margin-bottom: 24px;

        @include desktop-small {
          @include typography('display-md', bold);
        }
      }

      .brief {
        @include typography(text-xl, regular);
      }

      .block-title {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: var(--color-primary);
        @include typography(display-xxl, bold);
        display: flex;
        color: transparent;
        text-transform: uppercase;
        color: var(--color-white);
        transform: rotate(270deg) translateY(-15%) translateX(-80%);
        transform-origin: left top;

        @include desktop-small{
          display: none;
        }
      }
    }

    .feature-right{
      flex-basis: 65%;
      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem;

      @include desktop-small {
        flex-basis: 100%;
      }

      .feature-item {
        flex-basis: 48%;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        @include desktop-small {
          flex-basis: 100%
        }

        .title {
          @include typography(display-sm, bold);
          height: 75px;
        }

        .brief {
          @include typography(text-lg, regular);
        }
      }
    }

  }
}