@import "@/assets/scss/_variables";

.howitswork_section {
  padding: 80px 0;

  .howitworks {
    display: flex;
    flex-direction: column;
    // padding: 80px;
    // background: var(--color-gradient);
    // border-radius: 32px;

    // @include tablet{
    //   padding: 64px 32px;
    // }

    // @include mobile{
    //   padding: 64px 16px;
    // }

    .hiw_top {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 60px;

      .hiw_title {
        color: var(--color-primary);

        text-align: center;
        max-width: 70%;
        text-transform: uppercase;
        @include typography(display-lg, bold);

        @include desktop-small {
          @include typography(display-md, bold);
        }
      }
      .hiw_card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 32px;
        width: 100%;

        @include desktop-small{
          flex-direction: column;
        }

        .hiw_content {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          background: var(--color-white);
          // padding: 64px;
          gap: 24px;
          flex: 1;
          // border-radius: 18px 0 0 18px;

          @include desktop-small{
            // border-radius: 18px 18px 0 0;
          }

          @include tablet{
            padding: 32px;
          }

          .hiw_content_subtitle {
            @include typography(text-lg, bold);
            color: var(--color-text-dark);
            text-transform: uppercase;
            @include desktop-small {
              @include typography(text-md, bold);
            }
          }
          .hiw_content_title {
            color: var(--color-secondary);
            @include typography(display-md, bold);

            @include desktop-small {
              @include typography(display-sm, bold);
            }
          }
          .hiw_content_desc {
            .hiw_content_text {
              @include typography(text-lg, regular);

              @include desktop-small {
                @include typography(text-md, regular);
              }
            }
          }
        }
        .hiw_img {
          display: flex;
          justify-content: center;
          align-items: center;
          // background: var(--color-secondary);
          // padding: 64px;
          flex: 1;
          // border-radius: 0 18px 18px 0;

          @include desktop-small{
            // border-radius: 0 0 18px 18px;
          }

          @include tablet{
            padding: 32px;
          }

          img {
            width: 100%;
            max-width: 100%;
            border-radius: 18px;
          }
        }

        &:nth-child(odd){
          flex-direction: row-reverse;

          @include desktop-small{
            flex-direction: column;
          }
          
          .hiw_content{
            border-radius: 0 18px 18px 0;

            @include desktop-small{
              border-radius: 18px 18px 0 0;
            }
            
          }
          .hiw_img{
            border-radius: 18px 0 0 18px;

            @include desktop-small{
              border-radius: 0 0 18px 18px;
            }
          }

        }
      }
    }
  }
}
