@import '@/assets/scss/_variables';

.faqs {
  padding: 75px 0;
  background-color: var(--color-white);

  @include desktop-small {
    padding: 40px 0;
  }

  .faqs-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 80px;

    @include desktop-small {
      flex-direction: column;
      gap: 48px;
    }

    .faqs-left {
      flex-basis: 40%;

      @include desktop-small {
        flex-basis: 100%;
      }

      .faqs-header-section {
        display: flex;
        align-items: center;
        gap: 30px;
        flex-direction: column;

        @include desktop-small {
          gap: 20px;
        }

        .block-title {
          // color: var(--color-primary);
          background: linear-gradient(0deg, var(--color-text-dark) 0%, var(--color-primary) 100%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: rgba(0, 0, 0, 0);

          @include typography(display-lg, bold);
          @include desktop-small {
            @include typography(display-sm, bold);
          }
          span {
            color: var(--color-primary);
            font-family: var(--secondary-font);
          }
        }

        .page-content {
          color: var(--color-text-dark);
          @include typography(text-xl, medium);

          @include desktop-small {
            @include typography(text-md, medium);
          }
        }

      }
    }

    .faqs-items {
      width: 100%;

      .faq-accordion-item {
        border-bottom: 1px solid var(--color-secondary);

        &:first-child {
          border-top: 1px solid var(--color-secondary);
          border-bottom: 1px solid var(--color-secondary);
        }

        @include desktop-small {
          border-bottom: 1px solid var(--border-color);

          &:first-child {
            border-top: 1px solid var(--border-color);
            border-bottom: 1px solid var(--border-color);
          }

        }

        .faq-accordion-header {
          display: flex;
          align-items: center;
          gap: 24px;
          cursor: pointer;
          padding: 20px 0;

          .faq-accordion-btn {
            flex: 1;
            border: none;
            padding: 0;
            background-color: var(--color-white);
            color: var(--color-text-dark);
            text-align: left;
            @include typography(display-xs, medium);
            cursor: pointer;
            // font-family: var(--secondary-font);

            @include desktop-small {
              @include typography(text-xl, medium);
            }
          }
        }

        .faq-accordion-body {
          overflow: hidden;
          transition: height 3s ease;
          padding-bottom: 20px;
          @include typography(text-lg, regular);
          color: var(--color-text-light);

          @include desktop-small {
            @include typography(text-md, regular);
          }
        }

        .d-none {
          display: none;
        }

        .d-block {
          display: block;
        }
      }
    }
  }
}
