@import '@/assets/scss/_variables';

.mission-vission-wrapper {
  background: var(--color-white);
  padding: 6.125rem 0;

  @include desktop-small {
    padding: 4rem 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;

    @include desktop-small {
      padding: 0 1rem;
    }

    .project-count-header-area {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .title {
        background: linear-gradient(0deg, var(--color-text-dark) 0%, var(--color-primary) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(0, 0, 0, 0);

        margin-bottom: 18px;
        font-size: 3rem;
        line-height: 3.75rem;
        letter-spacing: -0.02em;
        font-weight: 700;
      }

      .brief {
        width: 70%;
        font-size: 1.25rem;
        line-height: 1.875rem;
        letter-spacing: normal;
        font-weight: 400;
      }
    }

    .img_stats {
      display: flex;
      align-items: center;
      // background: var(--color-secondary);
      // border-radius: 32px;
      // padding: 64px;
      gap: 64px;

      @include desktop-small {
        // flex-direction: column;
        // padding: 32px 16px;
        gap: 32px;
      }

      .image {
        // display: flex;
        // flex: 1;
        // border: 1px solid var(--color-primary);
        // border-radius: 32px;
        width: 100%;

        @include desktop-small {
          width: 100%;
        }

        .main-img {
          width: 100%;
          border-radius: 32px;
        }
      }

      .stats {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

          @include desktop-small{
          width: 100%;
          }

        .stats_content {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          flex-direction: column;
          gap: 6px;
          color: var(--color-text-dark);
          padding: 38px 0;
          flex-grow: 1;
          width: 100%;

          &:nth-child(2){
            border-top: 1px solid var(--color-secondary);
            border-bottom: 1px solid var(--color-secondary);
          }
          &:nth-child(3){
            // border-top: 1px solid var(--color-white);
            border-bottom: 1px solid var(--color-secondary);
          }

          .count {
            background: linear-gradient(0deg, var(--color-text-dark) 0%, var(--color-primary) 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: rgba(0, 0, 0, 0);
            @include typography(display-lg, bold);

            @include desktop-small {
              @include typography(display-md, bold);
            }
          }

          .details {
            @include typography(text-lg, regular);
          }
        }
      }
    }

  }
}